:root {
    --main-color: #EAC926;
    --navs: #03264C;
    --celeste: #1259c3;
    --text-gral: #666;
    --background: #ebebeb;
    --iconos-main: #39b54a;
    --section-background: #ebebeb;
    --articulo-background: white;
    --icono-foot: blue;
    --parrafo-gral: 12px;
    --heater:14px;
    --titulares: 24px;
    --precios: 18px;
    --descuentos: 16px;
    --descripciones: 16px
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: var(--normal-font);
    color: var(--parrafo-gral);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--main-color);
    max-height: 100%;
    color: var(--navs);
    font-size: var(--heater);
}

.baner {
    width: 100%;
}

nav  ul  li  a {
    color: var(--navs);
    text-decoration: none;
}

section {
    width: 100%;
    margin: 10px auto;
    background-color: var(--section-background);
}

article {
    width: 100%;
    background-color: var(--articulo-background);
}

article img {
    width: 100%;
}

.camion {
    color: var(--iconos-main);
}

.titulares {
    font-size: var(--titulares);
}

.precios {
    font-size: var(--precios);
}

.descuentos {
    color: var(--iconos-main);
    font-size: var(--descuentos);
}

.descripcion {
    font-size: var(--descripciones);
}

.titulopie {
    font-size: var(--descripciones);
    font-weight : bold;
    
}

footer{
    width: 100%;
    margin: 10px auto;
}

.icofoot {
    color: var(--icono-foot);
}

@media (min-width: 426px) {
    section article {
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
        float: left;
    }
    
    section {
        overflow: hidden;
    }
}

@media (min-width: 769px) {
    section article {
        width: 25%;
        margin-left: 0%;
        margin-right: 0%;
    }

    nav ul li {
        display: inline-block;
        padding-right: 10px;
        
    }
}